.git
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
.vagrant
Vagrantfile
provisioning/
*.log
*.pid
*.sqlite3
__pycache__
*.pyc
.pytest_cache
.coverage
.tox
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db 